/* html, body, and general styles */
body {
  overflow: auto;
}
/* style of landing image and graphics */
.parallax {
  /* parallax background settings */
  background-image: url("http://longwallpapers.com/Desktop-Wallpaper/computer-wallpapers-wide-For-Desktop-Wallpaper.jpg");
  /* min-height: 100vh; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* end parallax specific settings */
  color: white;
  width: 100%;
}
.welcome {
  padding: 20px;
  background-color: #222222;
  position: absolute;
  text-align: center;
  left: 0;
  top: 50%;
  width: 100%;
}
.border {
  color: white;
}
/* displaying portfolio positioning */
.content {
  background-color: #222222;
  color: white;
}
.row {
  height: 100%;
}
.col-xl-3 {
  padding: 0;
}
.row img {
  max-width: 100%;

}
/* portfolio effects on hover */
/* contact me section */
.contact-me {
  background-color: pink;
  position: relative;
}
.social-media {
  top: 50%;
  left: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  list-style: none;
}
.social-media li {
  display: inline;
  padding: 40px;
}

/* @media only screen and (max-width: 300px) {

} */
