/*-----------------------------
html, body, and general styles
------------------------------*/
html, body {
  height: 100%;
}
body {
  overflow: auto;
  background-color: black;
}

/*-------------------------------------
 style of landing image and graphics
 -------------------------------------*/
.section {
  padding: 0;
}
.parallax {
  /* parallax background settings */
  background-image: url("../images/keyboard.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* end parallax specific settings */
  color: white;
  width: 100%;
}

.welcome {
  padding: 20px;
  background-color: #222222;
  position: absolute;
  text-align: center;
  left: 0;
  top: 50%;
  width: 100%;
}

.border {
  color: white;
}

/*----------------------------------
displaying portfolio positioning
--------------------------------------*/

.content {
  background-image: url("../images/congruent_pentagon.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  /* width: 100vw; */
  color: #284863;
}
.col-lg-4 {
  padding-right: 0;
}

/* keeps images in decent blocks */
.row img {
  max-width: 100%;
}

.title1 {
  position: absolute;
  background-color: #33a4b9;
  width: 100%;
  top: 50%;
  color: white;
  text-align: center;
  padding: 10px;

}
/*--------------------------
portfolio effects on hover
-----------------------------*/

/*------------------------
 contact me section
 -------------------------*/

.contact-me {
  background-image: url("../images/austin.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* position: relative; */
}

.social-media {
  top: 50%;
  left: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  list-style: none;
}

.social-media li {
  display: inline;
  padding: 40px;
}

i {
  color: #ecf3f1;
}
/*---------------------------------
media queries
----------------------------------- */
@media only screen and (max-width: 515px) {
  .social-media li {
    display: block;
    padding: 10px 0;
  }
}
