/* html, body, and general styles */
body {
  overflow: auto;
}
/* style of landing image and graphics */
.parallax {
  /* parallax background settings */
  background-image: url("https://hdwallsource.com/img/2014/4/free-background-wallpaper-22918-23554-hd-wallpapers.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* end parallax specific settings */
  color: white;
  /* height: 100vh; */
  width: 100%;
}
.welcome {
  position: absolute;
  text-align: center;
  left: 0;
  top: 50%;
  width: 100%;
}
.border {
  color: white;
}
/* displaying portfolio positioning */
.content {
  height: 100vh;
  width: 100vw;
}
.row {
  height: 33vh;
  border-bottom: 1px solid black;
}
.abouts .col {
  padding-top: 50px;
}
.col {
  /* border: 1px solid black; */
  background-color: black;
  color: white;
  position: relative;
  padding: 0;
}
.col img {
  height: 100%;
  width: 33%;
}

/* portfolio effects on hover */

/* @media only screen and (max-width: 300px) {

} */
